{% load static %}
{% load i18n %}
<header>
		<!-- Header desktop -->
		<div class="wrap-menu-header gradient1 trans-0-4">
			<div class="container h-full">
				<div class="wrap_header trans-0-3">
					<!-- Logo -->
					<div class="logo">
						<a href="{% url 'index' %}">
							<img src="{% static 'images/icons/logo.png' %}" alt="IMG-LOGO" data-logofixed="{% static 'images/icons/logo2.png' %}">
						</a>
					</div>
					<!-- Menu -->
					<div class="wrap_menu p-l-45 p-l-0-xl">
						<nav class="menu">
							<ul class="main_menu">
								<li>
									<a href="{% url 'index' %}">{% translate "Home" %}</a>
								</li>
								<li>
									<a href="{% url 'menu' %}">{% translate "Menu" %}</a>
								</li>
								<li>
									<a href="{% url 'about' %}">{% translate "About" %}</a>
								</li>
                                <li>
									<a href="{% url 'reservation' %}">{% translate "Reservation" %}</a>
								</li>
                                <li>
									<a href="{% url 'register' %}">{% translate "Online Registration" %}</a>
								</li>
                                <li>
									<a href="{% url 'login' %}">{% translate "Login" %}</a>
								</li>
							</ul>
						</nav>
					</div>

					<!-- Social -->
					<div class="social flex-w flex-l-m p-r-20">
						<a href="#"><i class="fa fa-tripadvisor" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-facebook m-l-21" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-twitter m-l-21" aria-hidden="true"></i></a>
					</div>
                    
                    <!-- Navigation Language -->
                    <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}">
                        <select name="language">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                    {{ language.name_local }} ({{ language.code }})
                                </option>
                            {% endfor %}
                        </select>
                        <input type="submit" value="Go">
                    </form>
				</div>
			</div>
		</div>
</header>