{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>About Us</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.png' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/themify/themify-icons.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/slick/slick.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/lightbox2/css/lightbox.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->
</head>
<body class="animsition">

	<!-- Header -->
{% include 'includes/header.html' %}    
    
	<!-- Title Page -->
	<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url('{% static "images/bg-title-page-03.jpg" %}');">
		<h2 class="tit6 t-center">
			{{ about_us }}
		</h2>
	</section>
    
	<!-- Our Story -->
	<section class="bg2-pattern p-t-116 p-b-110 t-center p-l-15 p-r-15">
		<span class="tit2 t-center">
			{{ italian_restaurant }}
		</span>
		<h3 class="tit3 t-center m-b-35 m-t-5">
			{{ our_story }}
		</h3>
		<p class="t-center size32 m-l-r-auto">
			{{ story }}
		</p>
	</section>
    
	<!-- Video -->
	<section class="section-video parallax100" style="background-image: url('{% static "images/header-menu-01.jpg" %}');">
		<div class="content-video t-center p-t-225 p-b-250">
			<span class="tit2 p-l-15 p-r-15">
				{{ discover }}
			</span>
			<h3 class="tit4 t-center p-l-15 p-r-15 p-t-3">
				{{ our_video }}
			</h3>
			<div class="btn-play ab-center size16 hov-pointer m-l-r-auto m-t-43 m-b-33" data-toggle="modal" data-target="#modal-video-01">
				<div class="flex-c-m sizefull bo-cir bgwhite color1 hov1 trans-0-4">
					<i class="fa fa-play fs-18 m-l-2" aria-hidden="true"></i>
				</div>
			</div>
		</div>
	</section>
    
	<!-- Chef -->
	<section class="section-chef bgwhite p-t-115 p-b-95">
		<div class="container t-center">
			<span class="tit2 t-center">
				{{ meet_our }}
			</span>
			<h3 class="tit5 t-center m-b-50 m-t-5">
				{{ chef }}
			</h3>
			<div class="row">
                {% for chef in chefs %}
                    <div class="col-md-8 col-lg-4 m-l-r-auto p-b-30">
                        <!-- -Block5 -->
                        <div class="blo5 pos-relative p-t-60">
                            <div class="pic-blo5 size14 bo4 wrap-cir-pic hov-img-zoom ab-c-t">
                                <a href="#"><img src="{{ chef.photo.url }}" alt="IGM-AVATAR"></a>
                            </div>
                            <div class="text-blo5 size34 t-center bo-rad-10 bo7 p-t-90 p-l-35 p-r-35 p-b-30">
                                <a href="#" class="txt34 dis-block p-b-6">
                                    {{ chef }}
                                </a>
                                <span class="dis-block t-center txt35 p-b-25">
                                    {{ chef.position }}
                                </span>
                                <p class="t-center">
                                    {{ chef.description }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
			</div>
		</div>
	</section>
    
	<!-- Footer -->
{% include 'includes/footer.html' %}	

	<!-- Back to top -->
{% include 'includes/back_to_top.html' %}    

	<!-- Modal Video 01-->
{% include 'includes/modal_video.html' %}    

<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'vendor/slick/slick.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/slick-custom.js' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'vendor/parallax100/parallax100.js' %}"></script>
	<script type="text/javascript">
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'vendor/lightbox2/js/lightbox.min.js' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'vendor/isotope/isotope.pkgd.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
