{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Menu</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.png' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/themify/themify-icons.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/slick/slick.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/lightbox2/css/lightbox.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{%  static 'css/main.css' %}">
<!--===============================================================================================-->
</head>
<body class="animsition">
	<!-- Header -->
{% include 'includes/header.html' %}
	<!-- Title Page -->
	<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url('{% static "images/bg-title-page-01.jpg" %}');">
		<h2 class="tit6 t-center">
			Pato Menu
		</h2>
	</section>
	<!-- Main menu -->
	<section class="section-mainmenu p-t-110 p-b-70 bg1-pattern">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-lg-6 p-r-35 p-r-15-lg m-l-r-auto">
					{% for category in categories %}
                        {% if category.name == 'STARTERS' or category.name == 'DRINKS' %}
                            <div class="wrap-item-mainmenu p-b-22">
                                <h3 class="tit-mainmenu tit10 p-b-25">
                                    {{ category }}
                                </h3>
                                {% for dish in category %}
                                    <div class="item-mainmenu m-b-36">
                                        <div class="flex-w flex-b m-b-3">
                                            <a href="#" class="name-item-mainmenu txt21">
                                                {{ dish }}
                                            </a>
                                            <div class="line-item-mainmenu bg3-pattern"></div>
                                            <div class="price-item-mainmenu txt22">
                                                ${{ dish.price }}
                                            </div>
                                        </div>
                                        <span class="info-item-mainmenu txt23">
                                            {{ dish.description }}
                                        </span>
                                    </div>
                                {% endfor %}
					        </div>
                        {% endif %}
                    {% endfor %}
				</div>
				<div class="col-md-10 col-lg-6 p-l-35 p-l-15-lg m-l-r-auto">
                    {% for category in categories %}
                        {% if category.name == 'MAIN' or category.name == 'DESSERT' %}
                            <div class="wrap-item-mainmenu p-b-22">
                                <h3 class="tit-mainmenu tit10 p-b-25">
                                    {{ category }}
                                </h3>
                                {% for dish in category %}
                                    <div class="item-mainmenu m-b-36">
                                        <div class="flex-w flex-b m-b-3">
                                            <a href="#" class="name-item-mainmenu txt21">
                                                {{ dish }}
                                            </a>
                                            <div class="line-item-mainmenu bg3-pattern"></div>
                                            <div class="price-item-mainmenu txt22">
                                                ${{ dish.price }}
                                            </div>
                                        </div>
                                        <span class="info-item-mainmenu txt23">
                                            {{ dish.description }}
                                        </span>
                                    </div>
                                {% endfor %}
					        </div>
                        {% endif %}
                    {% endfor %}
			    </div>
            </div>
        </div>
	</section>
    
    <!-- Lunch and Dinner -->
	{% for category in categories %}
        {% if category.name == 'LUNCH' or category.name == 'DINNER' %}
            <section class="section-lunch bgwhite">
		        <div class="header-lunch parallax0 parallax100" style="background-image: url('{{ category.photo.url }}');">
			        <div class="bg1-overlay t-center p-t-170 p-b-165">
				        <h2 class="tit4 t-center">
                            {{ category }}
				        </h2>
			        </div>
		        </div>
		        <div class="container">
			        <div class="row p-t-108 p-b-70">
				        <div class="col-md-8 col-lg-6 m-l-r-auto">
					        <!-- Block3 -->
                            {%  for dish in category %}
					            <div class="blo3 flex-w flex-col-l-sm m-b-30">
						            <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
							            <a href="#"><img src="{{ dish.photo.url }}" alt="IMG-MENU"></a>
						            </div>
				        		    <div class="text-blo3 size21 flex-col-l-m">
							            <a href="#" class="txt21 m-b-3">
                                            {{ dish }}
							            </a>
							            <span class="txt23">
								            {{ dish.description }}
							            </span>
							            <span class="txt22 m-t-20">
								            ${{ dish.price }}
							            </span>
						            </div>
					            </div>
                            {% endfor %}
                        </div>
				    </div>
			    </div>
		    </section>
        {% endif %}
    {% endfor %}
    
   <!-- Footer --> 
{% include 'includes/footer.html' %}
    
    <!-- Back to top -->
{% include 'includes/back_to_top.html' %}    
    
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{%  static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'vendor/slick/slick.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/slick-custom.js' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'vendor/parallax100/parallax100.js' %}"></script>
	<script type="text/javascript">
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'vendor/lightbox2/js/lightbox.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
